
    <div  id="contactForm" *ngIf="model">

      <div class="row control-group" >
          <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="name">Name</label>
              <input type="text" class="form-control" placeholder="Name" id="name" [(ngModel)]="model.name" name="name" required data-validation-required-message="Please enter your name.">
              <p class="help-block text-danger"></p>
          </div>
      </div>

      <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="name">Git Url</label>
              <input type="text" class="form-control" placeholder="Git-URl" id="name" [(ngModel)]="model.gitUrl" name="gitUrl" required data-validation-required-message="Please enter your git URL.">
              <p class="help-block text-danger"></p>
          </div>
      </div>
      <br>
      <div id="success"></div>
      <div class="row">
          <div class="form-group col-xs-12">
              <button (click)="onSubmit()" class="btn btn-success btn-lg">Save</button>
          </div>
      </div>


    </div>



    <ul class="projects">
      <li *ngFor="let project of projects"
        >
        <span class="badge">{{project.id}}</span> {{project.name}} {{project.gitUrl}}
      </li>
    </ul>
