<!-- Contact Section -->
<section id="allprojects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>View Agents</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <table class="table table-hover">
                  <tr><th>Agent Name</th><th>Status</th><th>Last Deployed</th></tr>
                  <tr ng-repeat="agent in agentsList"><td>{{agent.agent_name}}</td><td><button ng-show="agent.status=='deploying'" class="btn btn-warning">Deploying</button><button ng-show="agent.status=='deployed'" class="btn btn-success">Deployed</button></td><td>{{agent.deployment_date}}</td></tr>
                </table>
            </div>
        </div>
    </div>
</section>
