<!-- Contact Section -->
<section id="create">
    <div class="container">
        <div class="row">
          <div class="jumbotron">
<h3><small>Project Name</small> {{projectData.response[1]}}</h3>
<h3><small>URL</small> {{projectData.response[2]}} </h3>
<h3><small>Topic</small> {{projectData.response[3]}} </h3>
<h3>Setup your IoT devices</h3>
<p>
  1. Install file agent.py from here.<br/>
  2. Execute it in your IoT device and make sure whenever your IoT boots up this script is executed.<br/>
  3. Test your application.<br/>
</p>
<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
        </div>
    </div>
</section>
