
  <!--  <form (ngSubmit)="onSubmit()" #projectForm="ngForm" id="contactForm">

      <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="name">Name</label>
              <input type="text" class="form-control" placeholder="Name" id="name" [(ngModel)]="model.name" name="name" required data-validation-required-message="Please enter your name.">
              <p class="help-block text-danger"></p>
          </div>
      </div>

      <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="name">Git Url</label>
              <input type="text" class="form-control" placeholder="Git-URl" id="name" [(ngModel)]="model.gitUrl" name="gitUrl" required data-validation-required-message="Please enter your git URL.">
              <p class="help-block text-danger"></p>
          </div>
      </div>
      <br>
      <div id="success"></div>
      <div class="row">
          <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-success btn-lg">Save</button>
          </div>
      </div>


    </form> -->

Hello hi ...

    <!--<ul class="projects">
      <li *ngFor="let project of projects"
        >
        <span class="badge">{{project.id}}</span> {{project.name}} {{project.gitUrl}}
      </li>
    </ul>-->
    <table class="table table-hover">
      <tr><th>Name</th><th>Github URL</th><th>Actions</th></tr>
      <tr *ngFor="let project of projects"><th>{{project.name}}</th><th>{{project.gitUrl}}</th><th>Actions</th></tr>
    </table>
